
<div class="collection-container container">
  <div class="row"> <!-- Album Header -->
    <div ng-repeat="album in albums" class="collection-album-container col-md-2">
      <div ng-mouseenter="showOverlay = true" ng-mouseleave="showOverlay = false" class="collection-album-image-container">
        <img ng-src="{{ album.albumArtUrl }}">
        <div class="collection-album-image-overlay" ng-hide="!showOverlay">
          <div class="collection-overlay-content">
            <a class="collection-overlay-button" ng-click="playAlbum(album)">
              <i class="fa fa-play"></i>
            </a>
            &nbsp;
            <a class="collection-overlay-button">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="collection-album-info caption">
        <p>
        <a class="album-name" ui-sref="album"> {{ album.name }} </a>
          <br/>
          <a ui-sref="album"> {{ album.artist }} </a>
          <br/>
          {{ album.songs.length }} songs
          <br/>
        </p>
      </div>
    </div>
  </div>
    <!-- <div ui-view="playbar"></div> -->
    <ng-include src="'/templates/player_bar.html'"></ng-include> 
</div>
<footer>
<click-me class="alert-me">Click Me for an Alert</click-me>
<div count-hover-time> Count Hover Time Seconds and Log to Console</div>

<script>
/*
      $('.alert-me').click(function(){
        alert("This has been clicked");
      };
*/

// Create directive countHoverTime, restricted to an attribute, console.log number of seconds hovered

/*
blocJams.directive('countHoverTime', function() {

  return {
    restrict: "A", 
    link: function() {
      var seconds; 
      while($(count-hover-time).window.setTimeout(1000)){
        seconds +=1;
      };
      console.log("This has been hovered for " + seconds + " seconds");
    };
  };
})
*/
</script>
</footer>

      